/* Default Styling */
* {
	font-family: "Calibre", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Header Styling */
header {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 2;
	color: #141616;
	overflow: hidden;
}

/* Body Styling */
body {
	text-align: center;
	background-color: #fff5c3;
	color: #000000;
}

/* Image Styling */
img {
	max-width: 40%;
	max-height: 40%;
}

/* Sticky Banner + Relative Links*/
#fixed {
	position: sticky;
	top: 0;
	padding: 10px 16px;
	background-color: #bbbab3;
}

#fixed .nav-bar {
	top: 100px;
}

/* Navigation Styling */
.nav-bar {
	list-style: none;
	display: flex;
	justify-content: center;
}

.nav-bar li {
	margin: 15px; /* Spacing Between Items */
}

.nav-bar a {
	text-decoration: none; /* Remove Underline */
	color: #323838;
	font-size: 18px;
	transition: background-color 0.3s ease; /* Hover Efeect */
}

.nav-bar a:hover {
	background-color: #9e9d96;
	border-radius: 5px;
}

.icon {
	margin: 10px auto;
	width: 30px;
	height: auto;
}

.profile-pic {
	margin: 15px auto;
	width: 120px;
	height: auto;
	object-fit: cover;
}

footer .class {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 16px;
}

footer .class img {
	width: 45 px;
	height: auto;
}