/* Default Styling */
* {
	font-family: "Calibre", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Header Styling */
header {
	font-size: x-large;
	font-size-adjust: 0.5;
	font-weight: bold;
	text-align: center;
	margin: 2;
	padding: 2rem 0;
	color: #141616;
	background-color: #bbbab3;
	overflow: hidden;
}

/* Body Styling */
body {
	text-align: center;
	background-color: #fff5c3;
	color: #000000;
}

/* Image Styling */
img {
	max-width: 40%;
	max-height: 40%;
}

/* Sticky Banner + Relative Links*/
#fixed {
	position: sticky;
	top: 0;
	padding: 10px 16px;
}

.nav-bar {
	margin: 1;
	text-align: center;
}

.profile-pic {
	margin: 15px auto;
	width: 120px;
	height: auto;
	object-fit: cover;
}

.icon {
	margin: 10px auto;
	width: 30px;
	height: auto;
}